<form (ngSubmit)="onSubmitForm()">
    <!-- First Row -->
    <div class="input-group">
      <div>
        <label for="initial-investment">Initial Investment</label>
        <input type="number" [(ngModel)]="enteredInitialInvestment" id="initial-investment" name="initialInvestment" required>
      </div>
      <div>
        <label for="annual-investment">Annual Investment</label>
        <input type="number" [(ngModel)]="enteredAnnualInvestment" id="annual-investment" name="annualInvestment" required>
      </div>
    </div>
  
    <!-- Second Row -->
    <div class="input-group">
      <div>
        <label for="expected-return">Expected Return (%)</label>
        <input type="number" [(ngModel)]="enteredExpectedReturn" id="expected-return" name="expectedReturn" required>
      </div>
      <div>
        <label for="duration">Duration (years)</label>
        <input type="number" [(ngModel)]="enteredDuration" id="duration" name="duration" required>
      </div>
    </div>
  
    <!-- Third Row (Button) -->
    <button type="submit">Calculate</button>
  </form>
  